.hero-container {
  background: url(../images/about-1-1.png) no-repeat center center;
  background-size: cover;
  height: 449px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-container h1 {
  color: white;
  font-size: 64px;
}

.content-container .text-container {
  padding: 50px 50px 10px 50px;
}

.gallery-container {
  padding: 2px;
}

.gallery-container h2 {
  text-align: center;
  color: #f07d80;
}

.gallery-container .image-container {
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
}

.gallery-container .image-container img {
  height: 293px;
  width: 293px;
}
