.content-container {
  height: calc(100vh - 64px);
  position: relative;
}

.content-container .video-container {
  position: relative;
}

.content-container .video-container .text-container {
  color: white;
}

.content-container .video-container .text-container h1,
.content-container .video-container .text-container div {
  margin: 5px 0;
}

.content-container .video-container .text-container {
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.content-container .video-container video {
  object-fit: cover;
}
