.hero-container {
  background: url(../images/media.jpg) no-repeat center center;
  background-size: cover;
  height: 449px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-container h1 {
  color: white;
  font-size: 64px;
}

h2 {
  text-align: center;
  color: #f07d80;
}

.container {
  padding: 10px 10px 10px 10px;
}
.row {
  padding-top: 20px;
  padding-bottom: 10px;
}
.row-2 {
  padding: 10px 50px 30px 10px;
}
.column-md-4 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.video-container .video-content {
  margin: 0px 5px;
}

@media only screen and (max-width: 1200px) {
  .images .image-container {
    margin-bottom: 3px;
  }
}
