.hero-container {
  background: url(../images/media.jpg) no-repeat center center;
  background-size: cover;
  height: 449px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-container h1 {
  color: white;
  font-size: 64px;
}

h2 {
  text-align: center;
  color: #f07d80;
}

.container {
  padding: 10px 10px 10px 10px;
}

.video-container .video-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.video-container .video-container {
  margin: 10px 30px;
}

/* Lightbox */

.lightbox .primary-image-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.lightbox .primary-image-container .lightbox-primary-image {
  width: 30%;
  margin: 10px 0px;
  cursor: pointer;
  object-fit: contain;
}

.lightbox .primary-image-container .lightbox-primary-image img {
  width: 100%;
  height: auto;
}

.lightbox .lightbox-row > .column {
  padding: 0 8px;
}

.lightbox .lightbox-row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */
.lightbox .lightbox-column {
  float: left;
  width: 25%;
  object-fit: contain;
}

/* The Modal (background) */
.lightbox .modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.lightbox .modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.lightbox .close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.lightbox .close:hover,
.lightbox .close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.lightbox .mySlides {
  display: none;
}

/* Next & previous buttons */
.lightbox .prev,
.lightbox .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.lightbox .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.lightbox .prev:hover,
.lightbox .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.lightbox .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.lightbox .caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.lightbox img.demo {
  opacity: 0.6;
  width: 100%;
  height: auto;
  cursor: pointer;
}

.lightbox .active,
.lightbox .demo:hover {
  opacity: 1;
}

.lightbox img.hover-shadow {
  transition: 0.3s;
}

.lightbox .hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* End Lightbox */

@media only screen and (max-width: 1200px) {
  .images .image-container {
    margin-bottom: 3px;
  }
}
