.hero-container {
  background: url(../images/media.jpg) no-repeat center center;
  background-size: cover;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-container h1 {
  color: white;
  font-size: 64px;
}
.content-container .text-container {
  padding: 10px;
  text-align: center;
}

.gallery-container {
  padding: 10px 0px;
}

.gallery-container h1 {
  text-align: center;
}

.gallery-container image-container {
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
}

.gallery-container .image-container img {
  height: 251px;
  width: 336px;
}
