.hero-container {
  background: url(../images/music.jpg) no-repeat center center;
  background-size: cover;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-container h1 {
  color: white;
  font-size: 64px;
}

.content-container .text-container {
  padding: 0 40px;
}

.gallery-container {
  padding: 50px;
}

.gallery-container h1 {
  text-align: center;
}

.gallery-container .image-container {
  padding: 20px 70px;
  display: flex;
  justify-content: space-between;
}

.gallery-container .image-container img {
  height: 250px;
  width: 250px;
}
