.hero-container {
  background: url(../images/shop.jpg) no-repeat center center;
  background-size: cover;
  height: 449px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-container h1 {
  color: white;
  font-size: 64px;
}

.content-container .text-container {
  padding: 0 40px;
}

.gallery-container {
  padding: 50px;
}

.gallery-container h1 {
  text-align: center;
}

.gallery-container .image-container {
  padding: 20px 70px;
  display: flex;
  justify-content: space-between;
}

.gallery-container .image-container img {
  height: 250px;
  width: 250px;
}

.filterDiv {
  border: 1px #000000 solid;
  float: left;
  color: #ffffff;
  width: 310px;
  line-height: 10px;
  text-align: center;
  margin: 0px;
  display: none;
}
.show {
  display: block;
}
.container {
  margin-top: 0px;
  overflow: hidden;
}
/* Style the buttons */
.btn {
  border: none;
  font-size: 17px;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
  border-radius: 0 !important;
}
.btn:hover {
  background-color: #ddd;
}
.btn.active {
  background-color: #666;
  color: white;
}
.container-fluid div {
  border: 1px #000000 solid;
  background-color: white;
}
.container-fluid-1 div {
  padding: 0px;
}
