.hero-container {
  background: url(../images/tour-1.jpg) no-repeat center center;
  background-size: cover;
  height: 449px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-container h1 {
  color: white;
  font-size: 64px;
}

.content-container .text-container {
  padding: 0 40px;
}
